@Model MvcExample.Models.Product
<div>
    <body>
        <h1>@Model.Name</h1>
        <p><strong>ID</strong>@Model.Id</p>
        <p><strong>Adı:</strong>@Model.Name</p>
        <p><strong>Fiyat:</strong>@Model.Price</p>
        <a href="/">Geri Dön</a>
    </body>
</div>
